<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 박물관 미션 투어 당첨자 발표 | 공지사항 | 고객센터 | 투어리스트인투어 </title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<ul class="skipnavi">
    <li><a href="#container">본문내용</a></li>
</ul>  
<!-- wrap -->
<div id="wrap">
    <%-header%>
    <div id="container">
        <div class="location_area customer">
            <div class="box_inner">
                <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
                <p class="location">고객센터<span class="path">/</span> 공지사항</p>
                <ul class="page_menu clear">
                    <li><a href="#" class="on">공지사항</a></li>
                    <li><a href="#">문의하기</a></li>
                </ul>
            </div>
        </div>
        <div class="bodytext_area box_inner">
            <ul class="bbsview_list">
                <li class="bbs_title">박물관 미션 투어 응모 당첨자 발표</li>
                <li class="bbs_hit">작성일 : <span>2020.05.27</span></li>
                <li class="bbs_date">조회수 : <span>100</span></li>
                <li class="bbs_content">
                    <div class="editer_content">
                        안녕하세요. 믿을 수 있는 여행정보, 투어리스트인투어입니다.<br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi distinctio velit deserunt commodi minus, ex similique eligendi voluptate reprehenderit praesentium cupiditate qui beatae iure? Consequatur nemo reprehenderit odio earum voluptas?<br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut possimus sit voluptatibus quaerat. Facilis, at ipsum, aliquid neque voluptatem fugit quibusdam dolore voluptatibus fuga commodi laboriosam quis obcaecati officiis reprehenderit.<br>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolores reiciendis fugit nihil minima aliquam alias veritatis praesentium necessitatibus repudiandae, tenetur facere sunt, neque dolor at ipsam. Vero, quisquam inventore.
                    </div>
                </li>
            </ul>
            <p class="btn_line txt_right">
                <a href="/notice/list" class="btn_bbs">목록</a>
            </p>
            <ul class="near_list mt20">
                <li><h4 class="prev">다음글</h4><a href="#">추석 연휴 티켓/투어 배송 및 직접 수령 안내</a></li>
                <li><h4 class="next">이전글</h4><a href="#">이번 여름 휴가 제주 갈까? 미션  투어 (여행경비 50만원 지원)</a></li>
            </ul>
        </div>
    </div>
    <!-- container 끝 -->
    <!-- footer -->
    <%-footer%>
    <!-- footer 끝-->
</div>
<!-- wrap 끝 -->
<%-quick%>
</body>
</html>